html, body {
  margin: 0;
  padding: 0;
  }   
  .geral {
    min-width: 420px;
    position:relative;
  }
  .cor-padrao{
    background-color: rgb(250,128,114);
  }
  

  button.cor-padrao{
    background-color: rgba(250,128,114,0.5);
  }
  label{
    margin: 2px;
  }
